::selection {
  background-color: #333;
  color: #fff;
}

@mixin ftR {
  font-family: "Pretendard-Regular";
  font-weight: normal;
}
@mixin ftT {
  font-family: "Pretendard-Thin";
}
@mixin ftL {
  font-family: "Pretendard-Light";
}
@mixin ftM {
  font-family: "Pretendard-Medium";
}
@mixin ftSB {
  font-family: "Pretendard-SemiBold";
}
@mixin ftB {
  font-family: "Pretendard-Bold";
}
@mixin ftEB {
  font-family: "Pretendard-ExtraBold";
}

/*
text 
*/
@mixin txtHide {
  font-size: 0;
}

/*
  ellipsis
  */

/* text ellipsis */
@mixin ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* 
  flex
  */
@mixin flex_between {
  display: flex;
  justify-content: space-between;
}

@mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex_between_column {
  @include flex_between;
  flex-direction: column;
}

@mixin flex_center_column {
  @include flex_center;
  flex-direction: column;
}

@mixin flex_item_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin flex_end_column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@mixin flex_around {
  display: flex;
  justify-content: space-around;
}

@mixin flex_start {
  display: flex;
  justify-content: flex-start;
}

/*
  ico 
  */
@mixin iLayout {
  content: "";
  display: inline-block;
}
